logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example

# Python virtual env and cache
**/venv/
**/.venv/
**/env/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.ipynb_checkpoints/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# ==========================================
# Machine Learning Models / Large Artifacts
# ==========================================

TrustGuard/ml-service/pretrained_models/

# Model binaries
*.safetensors
*.onnx
*.onnx.data
*.bin
*.pt
*.pth
*.pkl
*.joblib

# Training artifacts
optimizer.*
scaler.pt
random_states_*.pkl
training_args.bin

# Python cache
__pycache__/
*.py[cod]

# Environment / secrets
.env
.env.*
!.env.example